/* CSS styles */
body
{
font-family: Impact, sans-serif;
background-image:url('phone.jpg');
background-size:120%; 
background-repeat:no-repeat;
}

.img-example1 {
    width: 1500px;
    height: 400px;
}

.img-example2 {
    width: 400px;
    height: 300px;
}
.img1 {
    width: 200px;
    height: 100px;
}
.img2 {
    width: 200px;
    height: 100px;
}


     list-style-type: none; padding: 0;
	margin: 0;
}

li { float: left; margin-right: 10px;
}

li:last-of-type {
 margin-right: 0;
}


a { display: block;
}


#img1,#img2  { width: 200px; height: 150px; box-shadow: 2px 2px 2px rgba(0,0,0,.4);

transition: transform .3s ease-in-out; 
}


a:hover img {
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}


a:hover #img1, a:focus #img1  {
	transform: scale(1.5) rotate(-3deg);
}

a:hover #img2, a:focus #img2  {
	transform: scale(1.5) rotate(5deg);
}
