/* CSS styles */
body
{
font-family: Impact, sans-serif;
background-image:url('phone.jpg');
background-size:120%; 
background-repeat:no-repeat;
}

.img-example1  
{width:1000;
 height:300;}
.img-example2  
{width:1000;
 height:300;}
.img-example3  
{width:890; height:300;}
