/* CSS styles */
body
{
font-family: Impact, sans-serif;
background-image:url('https://github.com/hgjgh67/diplom/blob/main/phone.jpg');
background-size:120%; 
background-repeat:no-repeat;
}

.img-example1 {
    width: 1500px;
    height: 400px;
list-style-type: none; padding: 0;
largin: 0;
}


.img-example2 {
    width: 400px;
    height: 300px;
}




li { float: left; margin-right: 10px;
}

li:last-of-type {
 margin-right: 0;
}


a { display: block;
}




a:hover img {
	box-shadow: 6px 6px 6px rgba(139, 128, 128, 0.3);
}


a:hover #img1, a:focus #img1  {
	transform: scale(1.5) rotate(-3deg);
}

a:hover #img2, a:focus #img2  {
	transform: scale(1.5) rotate(5deg);
}

.audio-container {
    width: 100%;
    display: flex;
    justify-content: right; /* Центрирование по горизонтали */
    background-color: #666666; /* Фоновый цвет плеера */	
}
.blockad
{
  display:block;
}

#img1,#img2  { width: 100px; height: 150px; 
  display: block;
  	box-shadow: 6px 6px 6px rgb(139, 128, 128);
transition: transform .3s ease-in-out; 
}
